PORT=5000
MONGO_URI=mongodb+srv://sagar:sagarulagadde9823@cluster0.clhmlml.mongodb.net/portfolio?appName=Cluster0
EMAIL_USER=sagarulagadde1008@gmail.com
EMAIL_PASS=xybq mavh yvyh kifo
RECEIVER_EMAIL=sagarulagadde5883@gmail.com